// flex helpers

.flex {
  display: flex;

  &.column {
    flex-direction: column;
  }
  &.justify-center {
    justify-content: center;
  }
  &.align-center {
    align-items: center;
  }
  &.space-between {
    justify-content: space-between;
  }
  &.space-evenly {
    justify-content: space-evenly;
  }
  &.gap {
    gap: 20px;
  }
  &.wrap {
    flex-wrap: wrap;
  }
}

.grid {
  display: grid;
  &.gap {
    gap: 20px;
  }
}

// Media helpers

.square-ratio {
  @include aspect-ratio(1, 1);
}
.video-ratio {
  @include aspect-ratio(16, 9);
}
.portrait-ratio {
  @include aspect-ratio(9, 16);
}
