.filter-container {
  height: 50px;
  margin: 5px auto;
  & input {
    padding: 5px;
    min-width: 30%;
    border: none;
    border-bottom: 1px solid #1b1b1b;
  }
  & input::placeholder {
    text-align: center;
  }

  @include for-mobile-layout {
    height: 100%;
    & > * {
      margin-bottom: 10px;
      font-size: 1.5rem;
    }
    & .ctg,
    & .Stock {
      flex-direction: column;
      flex-basis: 100%;
      justify-content: center;
      align-items: center;
    }
    & .search {
      flex-basis: 100%;
      justify-content: center;
      order: +1;
    }
  }
}
